include LICENSE
include README.rst
recursive-include djangoS3Browser/templates *.html
recursive-include djangoS3Browser/static/css *.css
recursive-include djangoS3Browser/static/js *.js
recursive-include djangoS3Browser/static/images *.png
